.sidebar
  nav.sidebar-nav
    ul.nav
      li.nav-item
        a.nav-link(href='index.html')
          i.icon-speedometer
          |  Dashboard
          span.badge.badge-info NEW
      li.nav-title
        | UI Elements
      li.nav-item.nav-dropdown
        a.nav-link.nav-dropdown-toggle(href='#')
          i.icon-puzzle
          |  Components
        ul.nav-dropdown-items
          li.nav-item
            a.nav-link(href='components-buttons.html')
              i.icon-puzzle
              |  Buttons
          li.nav-item
            a.nav-link(href='components-social-buttons.html')
              i.icon-puzzle
              |  Social Buttons
          li.nav-item
            a.nav-link(href='components-cards.html')
              i.icon-puzzle
              |  Cards
          li.nav-item
            a.nav-link(href='components-forms.html')
              i.icon-puzzle
              |  Forms
          li.nav-item
            a.nav-link(href='components-modals.html')
              i.icon-puzzle
              |  Modals
          li.nav-item
            a.nav-link(href='components-switches.html')
              i.icon-puzzle
              |  Switches
          li.nav-item
            a.nav-link(href='components-tables.html')
              i.icon-puzzle
              |  Tables
          li.nav-item
            a.nav-link(href='components-tabs.html')
              i.icon-puzzle
              |  Tabs
      li.nav-item.nav-dropdown
        a.nav-link.nav-dropdown-toggle(href='#')
          i.icon-star
          |  Icons
        ul.nav-dropdown-items
          li.nav-item
            a.nav-link(href='icons-font-awesome.html')
              i.icon-star
              |  Font Awesome
          li.nav-item
            a.nav-link(href='icons-simple-line-icons.html')
              i.icon-star
              |  Simple Line Icons
      li.nav-item
        a.nav-link(href='widgets.html')
          i.icon-calculator
          |  Widgets
          span.badge.badge-info NEW
      li.nav-item
        a.nav-link(href='charts.html')
          i.icon-pie-chart
          |  Charts
      li.divider
      li.nav-title
        | Extras
      li.nav-item.nav-dropdown
        a.nav-link.nav-dropdown-toggle(href='#')
          i.icon-star
          |  Pages
        ul.nav-dropdown-items
          li.nav-item
            a.nav-link(href='pages-login.html', target='_top')
              i.icon-star
              |  Login
          li.nav-item
            a.nav-link(href='pages-register.html', target='_top')
              i.icon-star
              |  Register
          li.nav-item
            a.nav-link(href='pages-404.html', target='_top')
              i.icon-star
              |  Error 404
          li.nav-item
            a.nav-link(href='pages-500.html', target='_top')
              i.icon-star
              |  Error 500
