extends ../../core/views/layouts/narrow.pug

block content
  .col-md-4
    .card-group.mb-0
      .card.p-4
        .card-block
          h1 Login
          p.text-muted Sign In to your account
          if user
            h1 user
          form(name="signin", action="/login", method="post")
            .input-group.mb-3
              span.input-group-addon
                i.icon-user
              input.form-control(type='text', name='email', placeholder='Email')
            .input-group.mb-4
              span.input-group-addon
                i.icon-lock
              input.form-control(type='password', name='password', placeholder='Password')
            .row
              .col-6
                button.btn.btn-primary.px-4(type='submit') Login
