doctype html
//
  * CoreUI - Open Source Bootstrap Admin Template
  * @version v1.0.0-alpha.6
  * @link http://coreui.io
  * Copyright (c) 2017 creativeLabs Łukasz Holeczek
  * @license MIT
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='CoreUI - Open Source Bootstrap Admin Template')
    meta(name='author', content='Łukasz Holeczek')
    meta(name='keyword', content='Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js')
    title Admin SweatCircle
    // Icons
    link(href='/static/css/font-awesome.min.css', rel='stylesheet')
    link(href='/static/css/simple-line-icons.css', rel='stylesheet')
    // Main styles for this application
    link(href='/static/css/style.css', rel='stylesheet')
    block head
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-9510961-27', 'auto');
      ga('send', 'pageview');
  //
    BODY options, add following classes to body to change options
    // Header options
    1. '.header-fixed'					- Fixed Header
    // Sidebar options
    1. '.sidebar-fixed'					- Fixed Sidebar
    2. '.sidebar-hidden'				- Hidden Sidebar
    3. '.sidebar-off-canvas'		- Off Canvas Sidebar
    4. '.sidebar-minimized'			- Minimized Sidebar (Only icons)
    5. '.sidebar-compact'			  - Compact Sidebar
    // Aside options
    1. '.aside-menu-fixed'			- Fixed Aside Menu
    2. '.aside-menu-hidden'			- Hidden Aside Menu
    3. '.aside-menu-off-canvas'	- Off Canvas Aside Menu
    // Footer options
    1. '.footer-fixed'						- Fixed footer
  body.app.header-fixed.sidebar-fixed.aside-menu-fixed.aside-menu-hidden
    //- .app-body
    //-   include ../nav/sidebar
    header.app-header.navbar
      ul.nav.navbar-nav
        li.nav-item.px-3
          a.nav-link(href='/dashboard') Dashboard
      ul.nav.navbar-nav
        li.nav-link.px-3
          a.nav-link(href='/logout') Logout
    .app.flex-row.align-items-center
      .container
        .row.justify-content-center
          block content
      script(src='/static/components/jquery/dist/jquery.min.js')
      script(src='/static/components/tether/dist/js/tether.min.js')
      script(src='/static/components/bootstrap/dist/js/bootstrap.min.js')
      script(src='/static/components/pace/pace.min.js')
      script(src='/static/js/app.js')
      script(type='/static/text/javascript')
    block script

